{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/fish/fish-index.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1 style="text-align: center;">The Honey Hole</h1>

</section>

<section class="card-container" style="display: flex; flex-wrap: row-wrap; justify-content: center; gap: 1rem;">
  {% if fish_list %}
  {% for fish in fish_list %}
    <div class="card" style=" border-color: rgb(17, 4, 1); background-color: {{ fish.color }};" >
      <div class="card-bg" style="border-color: rgb(26, 6, 2);  background-color: {{ fish.color }};"></div>
      <a href="{% url 'fish-detail' fish.id %}">
        <div class="card-content">
          <h2>{{ fish.name }}</h2>
          <h4>{{ fish.species }}</h4>
          <p>You caught a {{ fish.weight }}lbs {{ fish.color }} {{ fish.species }} with some {{ fish.get_bait_display }}</p>
        </div>
      </a>
    </div>
    <br>
    <br>
  {% endfor %}
  {% else %}
     <p>No fish caugh yet. Lets take a trip!</p>
  {% endif %}
</section>

{% endblock %}
