{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/fish/fish-detail.css' %}" />
{% endblock %} 
{% block content %}

<br>
<br>
<div class="card" style=" border-color: rgb(26, 6, 2); background-color: {{ fish.color }}">
  <div class="card-bg" style=" border-color: rgb(26, 6, 2); background-color: {{ fish.color }}"></div>
  <div class="card-content">
    <h2 style="color: rgb(232, 235, 238);">{{ fish.name }}</h2>
    <h4  style="color: rgb(1, 7, 14);">{{ fish.species }}</h4>
    <p  style="color: rgb(232, 235, 238);">You caught a {{ fish.weight }}lbs {{ fish.color }} {{ fish.species }} with some {{ fish.get_bait_display }}</p>
  </div>
</div>
<br>
<br>
<div class="fish-action">
  <a href="{% url 'fish-update' fish.id %}"  style="background-color: var(--primary-color, #5aa5eb);
  color: white;
  padding: 8px 16px;
  max-width: 100px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;">Edit</a>
<a href="{% url 'fish-delete' fish.id %}"  style="background-color: var(--primary-color, #d4220a);
  color: white;
  padding: 8px 16px;
  max-width: 100px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;">Delete</a>
</div>

{% endblock %}
