{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/trips/trip-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="trip-container">
  <div class="trip-img">
    <img src="{% static 'images/fish.png' %}" alt="fish logo" />
  </div>
  <div class="trip-details">
    <h1>{{ trip.name }}</h1>
    {% if trip.gear %}
      <h2>On {{ trip.date }} you used {{ trip.gear }} to catch some fish.</h2>
    {% else %}
      <h2>On {{ trip.date }} you just went and had fun.</h2>
    {% endif %}
    <p>This is what you caught</p>
    <div class="subsection-content">
    {% if trip.fish.count %} 
      {% for fish in trip.fish.all %}
        <div class="fish-container">
          <div class="color-block" style="background-color: {{ fish.color }}"></div>
          <a href="{% url 'fish-detail' fish.id %}">
            <p>A {{ fish.color }} {{ fish.name }}</p>
          </a>
        </div>
      {% endfor %} 
    {% else %}
      <p class="no-fish">{{ trip.name}} no fish were caught!</p>
    {% endif %}
  </div>
  </div>
  <div class="trip-actions">
    <a href="{% url 'trip-update' trip.id %}" class="btn warn">Edit</a>
    <a href="{% url 'trip-delete' trip.id %}" class="btn danger">Delete</a>
  </div>
</section>
   <!-- Existing cat-container above -->
<div class="location-container">
  <section class="locations">
    <div class="subsection-title">
      <h2>Trip Location</h2>
    </div>
    <form
      method="post"
      action="{% url 'add-location' trip.id %}"
      class="subsection-content"
      autocomplete="off"
      >
       {% csrf_token %} 
       {{ location_form.as_p }}
       <button type="submit" class="btn submit">Add Location</button>
    </form>
    <span>

    </span>
    <table>
      <thead>
        <tr>
          <th>Spot</th>
          <th>Address</th>
          <th>Body Type</th>
          <th>Weather</th>
          <th>Fresh Or Salt</th>
        </tr>
      </thead>
      <tbody>
        {% for location in trip.location_set.all %}
          <tr>
            <td>{{location.name}}</td>
            <td>{{location.address}}</td>
            <td>{{location.get_body_display}}</td>
            <td>{{location.get_weather_display}}</td>
            <td>{{location.get_water_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
<section class="fish">
  <div class="subsection-title">
    <h2>Fish</h2>
  </div>
  <h3>{{ trip.name }}'s Catch</h3>
  <div class="subsection-content">
    {% if trip.fish.count %} 
      {% for fish in trip.fish.all %}
        <div class="fish-container">
          <div class="color-block" style="background-color: {{ fish.color }}"></div>
          <a href="{% url 'fish-detail' fish.id %}">
            <p>A {{ fish.color }} {{ fish.name }}</p>
          </a>
          <form action="{% url 'remove-fish' trip.id fish.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn submit">Remove Fish</button>
        </form>
        </div>
      {% endfor %} 
    {% else %}
      <p class="no-fish">{{ trip.name}} no fish were caught!</p>
    {% endif %}
  </div>

  <h3>Available Fish</h3>
<div class="subsection-content">
  {% if fish.count %} 
    {% for fish in fish.all %}
      <div class="fish-container">
        <div class="color-block" style="background-color: {{ fish.color }}"></div>
        <a href="{% url 'fish-detail' fish.id %}">
          <p>A {{ fish.color }} {{ fish.name }}</p>
        </a>
        <form action="{% url 'associate-fish' trip.id fish.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn submit">Assign Fish</button>
        </form>
      </div>
    {% endfor %} 
  {% else %}
    <p class="all-fish">{{trip.name}} already has all the available fish 🥳</p>
  {% endif %}
</div>

</section>
{% endblock %}
