{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/trips/trip-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>My Trips</h1>

</section>

<section class="card-container">
  {% for trip in trips %}
  <div class="card">
    <a href="{% url 'trip-detail' trip.id %}">
      <div class="card-content">
       <div class="card-img-container">
         <img
           src="{% static 'images/fish.png' %}"
           alt="trip"
         />
       </div>
       <h2 class="card-title">{{ trip.name }}</h2>
       {% if trip.fish > 0 %}
       <p>On {{ trip.name }} you caught {{ trip.fish }} with {{ trip.gear }}</p>
       {% else %}
       <p>On {{ trip.name }} you didnt catch any fish but you had fun.</p>
       {% endif %}
       <p><small>{{ trip.date }}</small></p>
     </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
