{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/trips/trip-index.css' %}"
/>
{% endblock %} {% block content %}
<main style="background-color:#d13d10; border: 5px solid black; display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">
<section class="page-header">
  <h1 style="text-align: center;">My Trips</h1>

</section>
{% if trips %}
<section class="card-container" style="display: flex; flex-wrap: row-wrap; justify-content: center; gap: 1rem;">
  {% for trip in trips %}
  <div class="card" >
    <a href="{% url 'trip-detail' trip.id %}">
      <div class="card-content">
       <div class="card-img-container">
         <img
           src="{% static 'images/fish.png' %}"
           alt="trip"
         />
       </div>
       <h2 class="card-title" style="text-align: center;">{{ trip.name }}</h2>
       {% if trip.fish > 0 %}
       <p>On {{ trip.name }} you caught {{ trip.fish }} with {{ trip.gear }}</p>
       {% else %}
       <p>On {{ trip.name }} you brought along some snacks and your {{ trip.gear }}</p>
       {% endif %}
       <p><small>{{ trip.date }}</small></p>
     </div>
    </a>
  </div>
  {% endfor %}
</section>
{% else %}
<p>so</p>
{% endif %}
</main>

{% endblock %}
