{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/trips/trip-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="trip-container">
  <div class="trip-img">
    <img src="{% static 'images/fish.png' %}" alt="fish logo" />
  </div>
  <div class="trip-details">
    <h1>{{ trip.name }}</h1>
    {% if trip.gear %}
      <h2>On {{ trip.date }} you used {{ trip.gear }} to catch some fish.</h2>
    {% else %}
      <h2>On {{ trip.date }} you just went and had fun.</h2>
    {% endif %}
    <p>This is what you caught</p>
  </div>
  <div class="cat-actions">
    <a href="{% url 'trip-update' trip.id %}" class="btn warn">Edit</a>
    <a href="{% url 'trip-delete' trip.id %}" class="btn danger">Delete</a>
  </div>
   <!-- Existing cat-container above -->
<div class="location-container">
  <section class="locations">
    <div class="subsection-title">
      <h2>Trip Location</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Address</th>
          <th>Body Type</th>
          <th>Weather</th>
          <th>Fresh Or Salt</th>
        </tr>
      </thead>
      <tbody>
        {% for location in trip.location_set.all %}
          <tr>
            <td>{{location.name}}</td>
            <td>{{location.address}}</td>
            <td>{{location.get_body_display}}</td>
            <td>{{location.get_weather_display}}</td>
            <td>{{location.get_water_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
</section>
{% endblock %}
