{% extends 'base.html' %} 
{% block content %}
<h1>About The Biggest Catch</h1>
<hr />
<p class="page-content">
  Welcome to The Biggest Catch, growing up my mom would take me fishing and we would catch some of everything! We also took many trips that i wish i could remember, to one day take my kids. Sadly I have bad memory, which inspired me to create this application! The Biggest Catch allows users to keep a log of fishing trips they have taken, along with the fish they caught because HOW COULD WE FORGET OUR BIGGEST CATCH?!
</p>
{% endblock %}
