* {
  font-family: "Fredoka", sans-serif;
  src: url("{% static 'fonts/Fredoka.ttf' %}") format('truetype');
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
p,
a {
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
/* ---------- All Container Max-Widths ---------- */
body,
main,
.container,
header,
footer {
  max-width: 800px;
  margin: 0 auto;
}
/* ---------- Header Container ---------- */
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: #01030f;
}

/* ---------- Logo Styling ---------- */
.logo img {
  max-width: 100%;
  height: auto;
  min-height: 30px;
  max-height: 50px;
}

/* ---------- Header Right Container for Hamburger and Cart Icon ---------- */
.header-right {
  display: flex;
  align-items: center;
}

/* ---------- Hamburger Menu Button ---------- */
.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  font-size: 24px; /* Used when showing 'X';*/
  color: #d13d10; /* Used when showing 'X';*/
  justify-content: center;
}
.hamburger-menu .bar {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #d13d10;
  margin: 4px 0;
  transition: all 0.3s;
  border-radius: 2px;
}

/* ---------- Cart Icon Container ---------- */
.cart-icon-container {
  padding: 0 10px;
}
.cart-icon-container img {
  width: 100%;
  height: auto;
}

/* ---------- Navigation Menu Dropdown ---------- */
nav.nav-links,
main,
header,
.header-container
main > section {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.nav-links {
  display: none; /* Hidden by default */
  max-width: 100%;
  background-color: #080000;
  width: 100%;
  top: 54px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links ul li {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  color: #f0eaea;
  margin-right: 50px;
}
.nav-links ul li:hover {
  background-color: #d13d10;
  transition: ease;
}

/* ---------- All App Cards  ---------- */
.card {
  background-color: #fff;
  color: #d13d10;
  border: 3px solid #000108;
  border-radius: 20px;
  padding: 15px 40px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 0 #b14418;
  max-width: 400px !important;
}
#blue-card {
  background-color: #87e6e0;
  box-shadow: 0 6px 0 #000000;
}
#yellow-card {
  background-color: #fff7a6;
}
#beige-card {
  background-color: #fffde0;
}
#white-card {
  background-color: #ffffff;
}

