* {
  font-family: "Fredoka", sans-serif;
  src: url("{% static 'fonts/Fredoka.ttf' %}") format('truetype');
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
p,
a {
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
/* ---------- All Container Max-Widths ---------- */
body,
main,
.container,
header,
footer {
  max-width: 500px;
  margin: 0 auto;
}
/* ---------- Header Container ---------- */
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #01030f;
}

/* ---------- Logo Styling ---------- */
.logo img {
  max-width: 100%;
  height: auto;
  min-height: 30px;
  max-height: 50px;
}

/* ---------- Header Right Container for Hamburger and Cart Icon ---------- */
.header-right {
  display: flex;
  align-items: center;
}

/* ---------- Hamburger Menu Button ---------- */
.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  font-size: 24px; /* Used when showing 'X';*/
  color: #d13d10; /* Used when showing 'X';*/
  justify-content: center;
}
.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #d13d10;
  margin: 4px 0;
  transition: all 0.3s;
  border-radius: 2px;
}

/* ---------- Cart Icon Container ---------- */
.cart-icon-container {
  padding: 0 10px;
}
.cart-icon-container img {
  width: 30px;
  height: auto;
}

/* ---------- Navigation Menu Dropdown ---------- */
.nav-links {
  display: none; /* Hidden by default */
  max-width: 500px;
  background-color: #fff;
  width: 100%;
  top: 54px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links ul li {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  color: #000;
  margin-right: 50px;
}
.nav-links ul li:hover {
  background-color: #a5f41d95;
  transition: ease;
}
/* ---------- All App Buttons  ---------- */
.cta-button {
  background-color: #a6f41d;
  color: #242e7a;
  border: 3px solid #242e7a;
  border-radius: 50px;
  padding: 15px 40px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: all 0.2s ease;
  box-shadow: 0 4px 0 #242e7a;
}

.cta-button2 {
  background-color: #242e7a;
  color: #a6f41d;
  border: 3px solid #a6f41d;
  border-radius: 50px;
  padding: 15px 40px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: all 0.2s ease;
  box-shadow: 0 4px 0 #a6f41d;
}

/* Hover effect */
.cta-button:hover {
  background-color: #a6f41d;
  transform: translateY(2px);
  box-shadow: 0 2px 0 #242e7a;
}

.cta-button2:hover {
  background-color: #242e7a;
  transform: translateY(2px);
  box-shadow: 0 2px 0 #a6f41d;
}

/* Active/pressed effect */
.cta-button, .cta-button2:active {
  transform: translateY(4px);
  box-shadow: 0 6px 0 #242e7a;
}
.alt-cta-button {
  background-color: #fff;
  color: #242e7a;
  border: 3px solid #242e7a;
  border-radius: 50px;
  padding: 15px 40px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: all 0.2s ease;

  /* Black drop shadow */
  box-shadow: 0 4px 0 #000000;
}

/* Hover effect */
.alt-cta-button:hover {
  background-color: #fff;
  transform: translateY(2px);
  box-shadow: 0 2px 0 #000000;
}

/* Active/pressed effect */
.alt-cta-button:active {
  transform: translateY(4px);
  box-shadow: 0 6px 0 #000000;
}
/* ---------- All App Cards  ---------- */
.card {
  background-color: #fff;
  color: #242e7a;
  border: 3px solid #242e7a;
  border-radius: 20px;
  padding: 15px 40px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 0 #181e51;
  max-width: 400px !important;
}
#blue-card {
  background-color: #87e6e0;
  box-shadow: 0 6px 0 #000000;
}
#yellow-card {
  background-color: #fff7a6;
}
#beige-card {
  background-color: #fffde0;
}
#white-card {
  background-color: #ffffff;
}

