
.content-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-actions a,
.btn-submit,
.btn-remove,
.btn-assign,
.btn-edit,
.btn-delete {
  background-color: var(--primary-color, #5aa5eb);
  color: white;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-delete,
.btn-remove {
  background-color: #c90606;
  border: 1px solid black;
}

.btn-assign {
  background-color: #06c927;
  border: 1px solid black;
}

.location-form {
  flex: 1;
  max-width: 500px;
  padding: 2rem;
  border: 4px solid rgb(20, 8, 0);
  border-radius: 12px;
  background-color: #e99c85;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.fish-card {
  flex: 1;
  max-width: 500px;
  padding: 2rem;
  border: 4px solid rgb(20, 8, 0);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

.fish-card.caught {
  background-color: #79f666;
}

.fish-card.available {
  background-color: #35a5e2;
}
